/* CSS Reset Code */

/* Intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Add line-height and text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Styling for header and Dark Mode Button */
.site-header {
display: flex;
justify-content: space-between;
align-items: center; 
padding: 1rem 2rem;
}
.theme-toggle {
cursor:pointer; 
} 


/* Add background color */
/* Add text color */
/* Style all buttons */
/* Style the sign up alert */
/* creat responsive layouts */
